---
layout: default
permalink: /categories/hacking
title: Category
---
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/categories.css">
<section class="block article">
    <h1 class = "centered">Category - {{ site.data.categories[0].name }}</h1>
    {% for post in site.categories['Hacking'] %}
        <article class="post">
          <h3>
              <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </h3><br/>
          <div>
            <p class="post_date">{{ post.date | date: "%B %e, %Y" }}</p>
          </div>
          <div class="entry">
            {{ post.excerpt }}
          </div>
          <a href="{{ site.baseurl }}{{ post.url }}" class="read-more"><br/>
              Read More
          </a>
        </article>
      {% endfor %}
      {%  assign pnumber = site.categories['Hacking'] |  size%}
      {% if pnumber == 0 %}
        <p style = "text-align: center;">
          No posts found - but don't worry.<br/>
          This section will soon be filled with content 
        </p>
      {% endif %} 
</section>