.nsl-form{
    border: #071020 4px solid;
    border-radius: 5px;
    padding: 2%;
}

.nsl-label{
    font-size: medium;
    
}

.nsl-p{
    padding: 0;
}

.nsl-email{
    width: 90%;
    border-radius: 5px;
    color: #071013;
    padding: 1%;
}

.nsl-sign{
    background-color: #071020;
    padding: 1%;
    border: #071020 2px solid;
    border-radius: 5px;
    margin-top: 5px;
}

.nsl-sign:hover{
    background-color: #162131;
}