.sidenav{
    width: 25%;
    height: 25em;
    padding: 3%;
    margin-left: 3%;
    visibility: visible;
}
.sidenav-header{
    font-size: medium;
    text-align: center;
}

.sidenav > h4{
   margin: 5% auto;
}

.sidenav-down-align{
    margin-top: 10%;
    font-size: medium;
}