.sidenav{
    width: 15%;
    height: 25em;
    padding: 1%;
    visibility: visible;

    position: sticky;
    top: 15%;
    left: 3%;
}
.sidenav-header{
    font-size: medium;
    text-align: center;
}

.sidenav > h4{
   margin: 5% auto;
}

.sidenav-down-align{
    margin-top: 10%;
    font-size: medium;
}

.sidenav-link{
    text-decoration: none;
}

.sidenav-link:hover{
    text-decoration: underline;
}

.sidenav-ul{
    font-size: 20px;
}