---
layout : default
title : {{ page.title }}
---
<link rel="stylesheet" href="{{ "/assets/css/monokai.css" | relative_url }}">
<main class = "post-main">
    <section class = "text-tiles full-page-tile">
        <h1 class = "post-title">{{ page.title }}</h1>
        {{ content }}

        <p><a href = "{{ site.baseurl }}/categories/{{ page.category }}">Category: {{ page.category }}</a></p>
        <p class="fuck-go-back"><a href="{{ site.baseurl }}">Back to main page!</a></p>
    </section>
</main>